.sleep {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.soreness > h4 {
  font-weight: 500;
}

.emoji__div > span {
  margin-top: 10px;
  font-size: 12px;
}

.emoji__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 10px 0;
  height: 30px;
  padding-bottom: 20px;
}

.emoji {
  height: 5px;
}

.emoji__div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
