.workoutCard {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 90%;
  height: 80px;
  background-color: white;
  border-radius: 8px;
  margin: 8px 0;
  cursor: pointer;
}

.workoutCard > img {
  object-fit: contain;
}

.workoutCard__info {
  display: flex;
  flex-direction: column;
}

.workoutCard__info > h1 {
  font-size: 16px;
  font-weight: 600;
}

.workoutCard__macroNutrients {
  display: flex;
  align-items: center;
  height: 20px;
}

.workoutCard__macroNutrients > h3 {
  width: 100px;
  font-size: 12px;
  font-weight: 500;
}

.right__arrow {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  object-fit: cover;
}
