.profile {
    width:100%;
    min-height: 100vh;
}

.profile__container {
    width:100%;
    height:100%;
    flex:1;
    display: flex;
    align-items:flex-start;
    justify-content:center;
    background-color:#f3f3f3
}

.profile__main {
    flex:0.85;
    width:100%;
    height:100%;
}


.coachProfile__container {
    display: flex;
    align-items:center;
    height:100%;
    width: 100%;
}

.coachProfile__leftContainer {
    flex:0.75;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
    padding: 0 20px;

}


.coachProfile__rightContainer {
    flex:0.25;
    border: 1px solid #d3d3d3;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
}

.coachProfile__header {
    display: flex;
    align-items: center;
    background-color: #fcd13f;
    width: 100%;
 
}

.leftarrow {
    padding: 50px 15px;
}

.image {
    border-radius:100px !important;
    background-color: grey;
    object-fit: cover;
    margin: 15px 30px;
}

.coachProfile__content > h1 {
    font-size: 27px;
    font-weight: 600;
    line-height:32px;
}

.coachProfile__content > h3 {
    font-size: 15px;
    font-weight: 500;
    line-height:30px;
}

.coachProfile__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.coachProfile__heading > h2 {
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    padding-right: 590px;
}

.coachProfile__editButton {
    display:flex;
    align-items: center;
    justify-content:center;
    padding:5px;
    padding-right:20px;
    background-color: #fcd13f;
    height:30px;
    width: 150px;
    margin:10px 0;
    border-radius: 18px;
    font-size: 14px;
}

.coachProfileForm {
    width: 97%;
}

.coachProfileForm > form > h4 {
    font-size: 15px;
    font-weight: 400;
    line-height:30px;
}

.coachProfileForm > form > input {
    padding: 10px; 
    display: flex;
    width: 100%;
    border: none;
    outline: gray ;
    background-color:white;
}

.coachProfileForm > form > textarea, .athleteMedicalAssessment__form > textarea {
    background-color:white;
    padding: 10px; 
    display: flex;
    width: 100%;
    border: none;
    outline: gray;
    height: 80px;
    width: 97%;
}    

.coachProfileForm__Button {
    display:flex;
    align-items: center;
    justify-content:center;
    padding:5px;
    padding-right:20px;
    background-color: #fcd13f;
    height:30px;
    width: 150px;
    margin:10px 0;
    border-radius: 18px;
    font-size: 14px;
}

.coachAssessment > h2, .coachMedicalAssessment > h2, .athleteProfile__leftContainer > h2, .athleteTrainingAssessment > h2 {
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
}

.athleteMeasurements {
    width: 97%;
}


.athleteMeasurements__container > form > h4 {
    font-size: 15px;
    font-weight: 400;
    line-height:30px;
}

.athleteMeasurements__container > form > input {
    background-color:white;
    padding: 10px; 
    display: flex;
    width: 100%;
    border: none;
    outline: gray;
}

.athleteMeasurements__container > form > h6 {
    color: gray;
}

.athleteMeasurements__Button, .athleteMedicalAssessment__Button {
    display:flex;
    align-items: center;
    justify-content:center;
    padding:5px;
    padding-right:14px;
    background-color: #fcd13f;
    height:30px;
    width: 150px;
    margin:10px 0;
    border-radius: 15px;
    font-size: 14px;
}

.athleteProfile__container {
    display: flex;
    align-items:flex-start;
    height:100%;
    width: 100%;
}


.athleteProfile__leftContainer {
    flex:1;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
    padding: 0 20px;
}


.athleteProfile__rightContainer {
    border: 1px solid #d3d3d3;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
}


.athleteAssessment{
    width: 97%;
}

.athleteAssessments{
    width: 100vh;
}

.athleteAssessment__features {
    padding: 10px; 
    display: flex;
    width: 100%;
    border: none;
    outline: gray ;
    background-color:white;
    margin-bottom: 13px;
    border-radius: 15px;
    justify-content: space-between;
}

.athleteAssessment__features > img  {
    height: 24px;
    width: 24px;
}

.athleteAssessment__button {
    font-size: 14px;
}

.viewReport {
    padding: 10px; 
    display: flex;
    width: 97%;
    border: none;
    outline: gray ;
    background-color:#4B4B4B;
    margin-bottom: 13px;
    border-radius: 15px;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.viewReport__button {
    font-size: 14px;
    margin-left: 20px;
}

.viewReport > img {
    height: 12px;
    margin-right: 5px;
}

.athleteMedicalAssessment__form > p, .athleteMedicalAssessment__form > h4 {
    font-size: 15px;
    font-weight: 500;
    color: gray;
}


.MuiRadio-root > label {
    width: 40px ;
    height: 40px;
    font-size: 13px;
}

.athleteMedicalAssessment__checkbox1 {
    display: flex;
    padding-Bottom : 20px;

}

.athleteMedicalAssessment__checkbox2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:flex-start ;
    padding-Bottom : 20px;
}

.athleteTrainingAssessment > h2 {
    padding-left: 20px;
}


.athleteTrainingAssessment > h4 {
    font-size:  15px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 20px;
}

.athleteTrainingAssessment > h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 20px;
}

.athleteTrainingAssessment__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.athleteTrainingAssessment__checkBox {
    display: flex;
    flex-wrap: wrap;
}   

.athleteTrainingAssessment__Button {
    display:flex;
    align-items: center;
    justify-content:center;
    padding:5px;
    padding-right:14px;
    background-color: #fcd13f;
    height:30px;
    width: 40%;
    margin: 10px 0;
    border-radius: 15px;
    font-size: 14px;
    margin-left: 15%;
    margin-top: 5%;
}

