.home__container {
  width: 100%;
  height: 100%;
  /* flex: 1; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #f3f3f3;
}

.home__main {
  /* flex: 0.7; */
  height: 100%;
}

.home__rightContainer {
  border: 1px solid #d3d3d3;
  height: 100%;
  /* flex: 0.3; */
  /* display: flex; */
  /* flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
}

@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url("./fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  font-family: "Open_Sans";
}

.devicebutton:hover {
  cursor: pointer;
}
