.nutritionScreenHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nutritionHeader__info {
  display: flex;
  align-items: center;
}

.nutritionHeader__info > h1 {
  font-size: 24px;
  font-weight: 600;
}

.addNutrition__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  background-color: #fcd13f;
  border-radius: 20px;
  height: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.assignedNutrition__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  background-color: #fcd13f;
  border-radius: 20px;
  height: 20px;
  padding: 10px 20px;
  width: 70%;
  margin-left: 10%;
  cursor: pointer;
}

.addNutrition__button > img {
  margin-right: 8px;
}

.addNutrition__button > h5 {
  font-size: 12px;
  font-weight: 600;
}

.nutritionHeader__backButton > img {
  object-fit: contain;
  margin: 0 20px;
}

.no-upcoming-food-text {
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
}

.assignedByCoach__Card {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

.assignedByCoach__CardInfo > h4 {
  font-size: 12px;
}

.assignByCoach__CardInfoDates > h4 {
  font-size: 10px;
}

.foodCard__description {
  margin-top: 20px;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  border: none;
  outline: gray;
  height: 100px;
  width: 60%;
  margin-left: 9px;
}

.coachAddMeal__header > img,
.createNutrition > img,
.assignedNutrition > img {
  padding-top: 30px;
  object-fit: contain;
  margin-left: 16%;
  justify-content: center;
  height: 40%;
  width: 60%;
}

.coachAddMeal__input,
.createNutrition__input {
  padding-left: 30px;
}

.coachAddMeal__input > h4,
.coachAddMeal__textArea > h4,
.createNutrition__input > h4,
.assignedNutrition > h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.coachAddMeal__input > input,
.createNutrition__input > input {
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  width: 96%;
  outline: gray;
  background-color: white;
  border: 1px solid #777;
}

.coachAddMeal__textArea > textarea {
  background-color: white;
  border: 1px solid #777;
  padding: 10px;
  display: flex;
  width: 96%;
  outline: gray;
  height: 80px;
}

.coachAddMeal__textArea {
  padding-left: 15px;
  padding-bottom: 30px;
}

.assignedMealPlans__headings,
.savedMealPlans__headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.assignedMealPlans__headings > h3,
.savedMealPlans__headings > h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}

.assignedMealPlans__headings > h4,
.savedMealPlans__headings > h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: gray;
}

.assignedMealPlans__headings > h4:hover,
.savedMealPlans__headings > h4:hover {
  cursor: pointer;
}

.athleteAddMeal__typeOfMeal > h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  margin-left: 3%;
}

.nutritionHeader__backButton:hover {
  cursor: pointer;
}

.assignedNutrition > h4 {
  margin-left: 4%;
}

.coachNutrition__homeContainer {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.coachNutrition__homeLeftContainer,
.coachNutrition__homeRightContainer {
  flex: 0.45;
  padding: 10px;
}

.coachNutrition__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

.coachNutrition__row > div {
  cursor: pointer;
  padding: 0 5px;
  font-size: 12px;
  text-align: center;
}
.coachNutrition__row > div:hover {
  background-color: #e6e6e6;
  border-radius: 5px;
}

.coachNutrition__row > h1,
.coachNutrition__row > h1,
.coachNutrition__homeRightContainer > h1 {
  font-size: 16px;
  font-weight: 500;
}
